:root {
  --panel: #fff;
  --border: #dbe3ff;
  --text: #000000;
  --muted: #436adf;
}

body {
  margin: 0;
  color: var(--text);
  display: flex;
  font-family: "Jersey 10", sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-image:url(Imagenes/bk.jpeg);
  background-repeat: no-repeat;
  margin-top:20px;
  background-size:100% ;
   
}

/* Fuentes */
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app {
  width: 1000px;
  height: 850px;

}

h1 { margin: 0 0 6px 0; font-size: 22px }

.row {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding: 5px;
}

.pill {
  padding: 6px 10px;
  border-radius: 900px;
  font-weight: 800;
  background: #fff;
}


.stage {
display: flex;
 align-items: flex-start;
 justify-content: space-between;
 gap: 20px;
padding: 5px;
}

.imgBox {
  height: 280px;   
  width: 280px;    
  position: relative;
  display: inline-block;
}

.pokeBase, .pokeMask {
  width: min(280px, 60vw);  
  max-height: 280px;         
  object-fit: contain;
  display: block;
}


.pokeMask {
  position: absolute;
  inset: 0;
  filter: brightness(0);
  --rev: 0%;
  -webkit-mask-image: radial-gradient(circle at 50% 50%, transparent var(--rev), #fff calc(var(--rev) + 1%));
  mask-image: radial-gradient(circle at 50% 50%, transparent var(--rev), #fff calc(var(--rev) + 1%));
  transition: -webkit-mask-image .35s ease, mask-image .35s ease, opacity .35s ease;
}

.ans { 
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-bottom: 10px; 
max-width: 600px;

}

.btn {
  font-family: "Jersey 10", sans-serif;
  font-size: 30px;
  width: 300px;
  margin-top: 50px;
  margin-left: 90px;
  text-align: center;
  padding: 12px 14px;
  margin-bottom: 5px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: .15s transform, .15s box-shadow;
}

.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, .06);
   background: #a2f88c; 
}

.btn.correct { background: #ecfbf6; border-color: #b8f2de }
.btn.wrong { background: #fff0f0; border-color: #ffd6d6 }

.controls {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.muted { color: var(--muted) }

.btnSm {
  font-family: "Jersey 10", sans-serif;
  font-size: 30px;
  margin-left: 87px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: #fff;
  font-weight: 800;
  cursor: pointer;
  width: 150px;
  height: 50px;
}
.btnSm:hover {
  transform: translateY(-5px);
  background: #6da7ff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, .06);
}
.btnSm:disabled { opacity: .5; cursor: not-allowed }


.btnAm {
font-family: "Jersey 10", sans-serif;
margin-bottom: 10px;
font-size: 30px;
padding: 10px 14px;
border-radius: 10px;
border: 1px solid var(--border);
background: #fff;
font-weight: 800;
cursor: pointer;
width: 150px;
height: 50px;
margin-left:95px ;
}
.btnAm:hover {
  transform: scale(1.2);
  background: #6da7ff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, .06);
}
.btnAm:disabled { opacity: .5; cursor: not-allowed }

.btn.correct { 
  background: #a2f88c; 
  border-color: #3cb371 ;
}

.btn.wrong { 
  background: #020b5f6e; 
  border-color: #ffffff;
}


