:root { 
  --bg-color: #2099ff; 
  --primary-color: #eccc3a; 
  --text: #1b2742;
  --border: #dbe3ff;
}

body {
    min-height: 100vh;
    margin: 0;
    
  
    background-image: url('../img/fondo2.png'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    font-family: 'Arial Black', Impact, sans-serif;
    color: var(--text);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portada-container {
    background: rgba(255, 255, 255, 0.26); /* Fondo blanco semitransparente */
    padding: 40px 30px;
    border-radius: 20px;
    border: 3px solid var(--border);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 90%;
}

.portada-titulo {
    width: min(100%, 450px);
    height: auto;
    margin-bottom: 15px;
}

.portada-subtitulo {
    color: var(--text);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 10px 0 30px 0;
}

.btn-inicio {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 15px;
    
    background: var(--primary-color);
    color: var(--text);
    
    font-size: 1.8rem;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    
    border: 3px solid #ffcc00;
    box-shadow: 0 6px 0 #1d1c1c, 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s, box-shadow 0.1s;
}

.btn-inicio:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 0 #141414, 0 10px 20px rgba(0, 0, 0, 0.4);
}

.portada-nota {
    margin-top: 20px;
    color: var(--text);
    opacity: 0.8;

}
